
.container h1{

    display: block;
    font-size: calc(1.325rem + .9vw);
    line-height: 2;
    font-weight: 400;
    position: relative;
    left: 65px;
}

.container {

    border-top: 1px solid #ebebeb;
    padding-bottom: 50px;
   
    
}

.box {

    width: 15%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.content {

    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap;
    position: relative;
    left: 70px;
    align-items: center;
    width:fit-content;
    padding: 0;
    margin: 0;    
}

.content li{

    border: 1px solid #ebebeb;
    display: block;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content li:hover{

   background-color: #eee;

}


.content li a{
    display: block;
    color: #666 !important;
    font-family: Circular Std,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    margin: 2px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}
